<% provide(:title, "Log in") %>
<h1>Welcome to review systeam</h1>



<div class="centered">
<a href="/auth/google_oauth2" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login / Sign Up with Google Account</a>
</div>
