- provide(:title, "Log in")
.center.jumbotron
  %h1 Welcome to review systeam
  .centered
    %a.btn.btn-primary.btn-lg.active{"aria-pressed" => "true", :href => "/auth/google_oauth2", :role => "button"} Login / Sign Up with Google Account
