%body
  - provide(:title, "Reviews")
  %h1
    = @team_member.name
    Reviews
  .row
    %aside.col-md-6
      %h3 Reviews
      - if @review_items.any?
        - @review_items.each do |review|
          %div
            - if review.accepted?
              = link_to review.name , review_goal_path(review,review.goal)
            - else
              = link_to review.name , review_goal_path(review,review.goal)
      - else
        .center.jumbotron
          %h1 No reviews yet!
