%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      - if logged_in?
        %a.navbar-brand{:href => reviews_path} Review System
      - else
        %a.navbar-brand{:href => "#"} Review System
    %nav
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              - if current_user.admin?
                %li
                  = link_to "Manage Team", users_path
              - else
                %li
                  = link_to "Team hierarchy", team_hierarchy_users_path
              %li
                = link_to "Log out", user_logout_path(current_user), method: "delete"
    %ul.nav.navbar-nav
      - if logged_in?
        - if tab_mode == 1
          %li.nav.nav-tabs.active
            %a{:href => reviews_path} My Appraisal
        - else
          %li.text-color
            %a{:href => reviews_path} My Appraisal
        - if current_user.manager?
          - if tab_mode == 2
            %li.nav.nav-tabs.active
              %a{:href => team_members_users_path} My Team Appraisals
          - else
            %li.text-color
              %a{:href => team_members_users_path} My Team Appraisals
        - if current_user.admin?
          - if tab_mode == 4
            %li.nav-tabs.active
              %a{:href => all_reviews_users_path} Appraisals by User
          - else
            %li.text-color
              %a{:href => all_reviews_users_path} Appraisals by User
          - if tab_mode == 5
            %li.nav-tabs.active
              %a{:href => reviews_by_quarter_users_path} Appraisals by Quarter
          - else
            %li.text-color
              %a{:href => reviews_by_quarter_users_path} Appraisals by Quarter
